    <%= user ? user.get('color'): 'watching' %>
    <table class="table striped">
      <tbody>
	<tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>
        <tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/blue.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>
        <tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/red.svg' /></td>
           <td><img src='/img/red.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>
        <tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/blue.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>
        <tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/red.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>
        <tr>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
           <td><img src='/img/empty.svg' /></td>
        </tr>

      </tbody>
    </table>
