<%= user ? user.get('color'): 'watching' %>
<div class="board">
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>

           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/blue.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>

           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/red.svg' /></div>
           <div class="mark"><img src='/img/red.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>

           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/blue.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>

           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/red.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>

           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
           <div class="mark"><img src='/img/empty.svg' /></div>
</div>           